<html>
    <head> 
		<meta charset="utf-8"> <title>OOPS - Error 500</title> 
		<meta name="description" content="The description should optimally be between 150-160 characters."> 
		<meta name="viewport" content="width=device-width,initial-scale=1"> 
		<meta name="author" content="ThemeHelite">
		<link rel="stylesheet" href="http://cdn.themehelite.com/themeforest/404oops/css/style.min.css">
	</head>

 	<body>
 	    <div class="image"></div>
 	        <div class="content">
 	            <div class="content-box">
 	                <div class="big-content"> 
 	                    <div class="list-square">
 	                        <span class="square"></span>
 	                        <span class="square"></span>
 	                        <span class="square"></span> 
 	                    </div>

 	                    <div class="list-line">
 	                        <span class="line"></span>
 	                        <span class="line"></span>
 	                        <span class="line"></span>
 	                        <span class="line"></span>
 	                        <span class="line"></span>
 	                        <span class="line"></span>
 	                    </div> 

 	                    <i class="fa fa-search" aria-hidden="true"></i>

 	                    <div class="clear"></div> 
 	                </div> 

 	                <h1>Ocorreu um erro inesperado com servidor, entre em contato com nossa equipe - (41)3333-1240</h1>

 	            </div> 
 	        </div> 

 	        <footer class="light"> 
 	            <ul>
 	                <li>
 	                    <a href="/">Home</a>
 	                </li>
 	            </ul>
 	        </footer> 
 	</body>
       
</html>